In [1]:
# Declaring variables of different data types
integer_var = 10         # Integer
decimal_var = 10.5       # Float
string_var = "Hello"    # String
boolean_var = True       # Boolean

# Printing variables and their types
print("Integer Value:", integer_var, "| Type:", type(integer_var))
print("Float Value:", decimal_var, "| Type:", type(decimal_var))
print("String Value:", string_var, "| Type:", type(string_var))
print("Boolean Value:", boolean_var, "| Type:", type(boolean_var))

Integer Value: 10 | Type: <class 'int'>
Float Value: 10.5 | Type: <class 'float'>
String Value: Hello | Type: <class 'str'>
Boolean Value: True | Type: <class 'bool'>

In [3]:

integer_var = 10         # Integer
decimal_var = 10.5       # Float
string_var = "Hello"    # String
boolean_var = True       # Boolean

# Printing variables and their types
print("Integer Value:", integer_var, "| Type:", type(integer_var))
print("Float Value:", decimal_var, "| Type:", type(decimal_var))
print("String Value:", string_var, "| Type:", type(string_var))
print("Boolean Value:", boolean_var, "| Type:", type(boolean_var))

Integer Value: 10 | Type: <class 'int'>
Float Value: 10.5 | Type: <class 'float'>
String Value: Hello | Type: <class 'str'>
Boolean Value: True | Type: <class 'bool'>

In [5]:
def calculate_grade(marks):
    average = sum(marks) / len(marks)
    
    if average >= 90:
        grade = "A"
    elif 80 <= average < 90:
        grade = "B"
    elif 70 <= average < 80:
        grade = "C"
    else:
        grade = "Fail"
    
    print(f"Grade: {grade}")

# Taking input from the user
marks = []
for i in range(3):
    mark = float(input(f"Enter marks for subject {i+1}: "))
    marks.append(mark)

calculate_grade(marks)

Enter marks for subject 1:  78
Enter marks for subject 2:  95
Enter marks for subject 3:  100

Grade: A

In [7]:
def sum_of_evens(n):
    return sum(i for i in range(2, n+1, 2))

# Taking input from the user
n = int(input("Enter a positive integer: "))
if n > 0:
    print(f"Sum of all even numbers between 1 and {n} is {sum_of_evens(n)}")
else:
    print("Please enter a positive integer.")

Enter a positive integer:  24

Sum of all even numbers between 1 and 24 is 156

In [9]:
def main():
    # Ask user for input
    n = int(input("Enter a positive integer: "))
    
    if n <= 0:
        print("Please enter a positive integer.")
        return
    
    # Using a for loop to print numbers from 1 to n
    print("Numbers from 1 to", n, ":")
    for i in range(1, n + 1):
        print(i)
    
    # Using a while loop to calculate sum of numbers from 1 to n
    total = 0
    num = 1
    while num <= n:
        total += num
        num += 1
    
    print("Sum of numbers from 1 to", n, "is:", total)

# Run the program
main()

Enter a positive integer:  16

Numbers from 1 to 16 :
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
Sum of numbers from 1 to 16 is: 136

In [11]:
def calculate_square(n):
    """Returns the square of n."""
    return n * n

# Main program
try:
    n = int(input("Enter a positive integer: "))
    if n > 0:
        print(f"The square of {n} is {calculate_square(n)}")
    else:
        print("Please enter a positive integer.")
except ValueError:
    print("Invalid input! Please enter a valid integer.")

Enter a positive integer:  14

The square of 14 is 196

In [13]:
import pandas as pd

# Creating the DataFrame
data = {
    "Name": ["John", "Alice", "Bob", "Diana"],
    "Age": [28, 34, 23, 29],
    "Department": ["HR", "IT", "Marketing", "Finance"],
    "Salary": [45000, 60000, 35000, 50000]
}
df = pd.DataFrame(data)

# Display the first 2 rows of the DataFrame
print("First 2 rows:")
print(df.head(2))

# Add a new column 'Bonus' which is 10% of the Salary
df["Bonus"] = df["Salary"] * 0.10
print("\nDataFrame with Bonus column:")
print(df)

# Calculate the average salary
average_salary = df["Salary"].mean()
print(f"\nAverage Salary: {average_salary}")

# Filter and display employees who are older than 25
filtered_df = df[df["Age"] > 25]
print("\nEmployees older than 25:")
print(filtered_df)

First 2 rows:
    Name  Age Department  Salary
0   John   28         HR   45000
1  Alice   34         IT   60000

DataFrame with Bonus column:
    Name  Age Department  Salary   Bonus
0   John   28         HR   45000  4500.0
1  Alice   34         IT   60000  6000.0
2    Bob   23  Marketing   35000  3500.0
3  Diana   29    Finance   50000  5000.0

Average Salary: 47500.0

Employees older than 25:
    Name  Age Department  Salary   Bonus
0   John   28         HR   45000  4500.0
1  Alice   34         IT   60000  6000.0
3  Diana   29    Finance   50000  5000.0

In [17]:
import pandas as pd
from io import StringIO

# Simulating reading from a CSV file using StringIO
data = """
Date,Product,Region,Sales,Profit,Quantity
2023-01-02,Tablet,East,1061.81,236.12,7
2023-01-06,Laptop,North,1926.07,246.34,8
2023-01-03,Tablet,East,1597.99,253.17,3
2023-01-20,Tablet,North,1397.99,242.23,1
2023-01-04,Laptop,West,734.03,140.36,4
2023-01-17,Tablet,North,733.99,188.66,2
2023-01-14,Keyboard,East,587.13,82.16,8
2023-01-07,Smartphone,East,1799.26,364.97,4
2023-01-11,Smartphone,West,1401.67,306.24,2
2023-01-01,Laptop,North,1562.11,170.72,6
2023-01-19,Monitor,North,530.88,117.59,6
2023-01-12,Laptop,West,1954.86,262.16,4
2023-01-09,Monitor,North,1748.66,197.62,6
2023-01-10,Smartphone,North,818.51,237.19,2
2023-01-08,Laptop,East,772.74,226.51,2
2023-01-05,Keyboard,North,775.11,202.83,4
2023-01-15,Tablet,North,956.36,153.9,8
2023-01-18,Monitor,West,1287.13,153.86,7
2023-01-13,Tablet,West,1147.92,271.88,9
2023-01-16,Tablet,South,936.84,176.15,8
"""

# Loading the data into a DataFrame
df = pd.read_csv(StringIO(data))

# Displaying the first 5 rows
print(df.head())

# Getting basic statistics
print(df.describe())

         Date Product Region    Sales  Profit  Quantity
0  2023-01-02  Tablet   East  1061.81  236.12         7
1  2023-01-06  Laptop  North  1926.07  246.34         8
2  2023-01-03  Tablet   East  1597.99  253.17         3
3  2023-01-20  Tablet  North  1397.99  242.23         1
4  2023-01-04  Laptop   West   734.03  140.36         4
             Sales      Profit   Quantity
count    20.000000   20.000000  20.000000
mean   1186.553000  211.533000   5.050000
std     461.528444   66.916251   2.543826
min     530.880000   82.160000   1.000000
25%     774.517500  166.515000   2.750000
50%    1104.865000  214.670000   5.000000
75%    1571.080000  248.047500   7.250000
max    1954.860000  364.970000   9.000000

In [19]:
import pandas as pd
from io import StringIO

# Simulating reading from a CSV file using StringIO
data = """
Date,Product,Region,Sales,Profit,Quantity
2023-01-02,Tablet,East,1061.81,236.12,7
2023-01-06,Laptop,North,1926.07,246.34,8
2023-01-03,Tablet,East,1597.99,253.17,3
2023-01-20,Tablet,North,1397.99,242.23,1
2023-01-04,Laptop,West,734.03,140.36,4
2023-01-17,Tablet,North,733.99,188.66,2
2023-01-14,Keyboard,East,587.13,82.16,8
2023-01-07,Smartphone,East,1799.26,364.97,4
2023-01-11,Smartphone,West,1401.67,306.24,2
2023-01-01,Laptop,North,1562.11,170.72,6
2023-01-19,Monitor,North,530.88,117.59,6
2023-01-12,Laptop,West,1954.86,262.16,4
2023-01-09,Monitor,North,1748.66,197.62,6
2023-01-10,Smartphone,North,818.51,237.19,2
2023-01-08,Laptop,East,772.74,226.51,2
2023-01-05,Keyboard,North,775.11,202.83,4
2023-01-15,Tablet,North,956.36,153.9,8
2023-01-18,Monitor,West,1287.13,153.86,7
2023-01-13,Tablet,West,1147.92,271.88,9
2023-01-16,Tablet,South,936.84,176.15,8
"""

# Loading the data into a DataFrame
df = pd.read_csv(StringIO(data))

# 1. Total sales for each region
total_sales_region = df.groupby('Region')['Sales'].sum()

# 2. Most sold product based on quantity
most_sold_product = df.groupby('Product')['Quantity'].sum().idxmax()

# 3. Average profit margin for each product
df['Profit_Margin'] = (df['Profit'] / df['Sales']) * 100
avg_profit_margin_per_product = df.groupby('Product')['Profit_Margin'].mean()

# Display results
print("Total Sales by Region:")
print(total_sales_region)
print("\nMost Sold Product:", most_sold_product)
print("\nAverage Profit Margin for each Product:")
print(avg_profit_margin_per_product)

Total Sales by Region:
Region
East      5818.93
North    10449.68
South      936.84
West      6525.61
Name: Sales, dtype: float64

Most Sold Product: Tablet

Average Profit Margin for each Product:
Product
Keyboard      20.080696
Laptop        17.112734
Monitor       15.134989
Smartphone    23.703647
Tablet        19.955758
Name: Profit_Margin, dtype: float64